<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/bootstrap/css/bootstrap-responsive.min.css"  rel="stylesheet" media="all" />
  <link href="css/blog.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <script src="assets/lib/jquery-1.9.1.min.js"></script>
  <script src="assets/admin.js"></script>

</head>

<body>
  <!-- ==== Navbar ================================================== -->
  <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">首页</a></li>
        </ul>
      </div>
      <p class="lead"><a href="/">成都婚庆网</a></p>
  </div>
  <div>
    <a id="doListPages" href="#doListPages" onclick="doListPages()">页面列表</a>
  </div>

  <div id="PagesList">
  </div>

  <div class="container">
    <form class="form-signin" method="get" action="/logout">
      <h2 class="form-signin-heading">会员信息</h2>
      <!--<p>Id: <%= user.id %></p>-->
      <p>用户名: <%= user.username %></p>
      <button class="btn btn-large btn-danger" type="submit">登出</button>
    </form>
  </div>


  </body>
</html>

